#header {
     width : 90%;
     margin-left: 10%;
     background-color:var(--header-menu-colour);
     display: flex;
     flex-direction: row;
     height:7vh;
     overflow:hidden;
     font-size:1.2vw;
     border-bottom:solid;
     border-width: 0.2vw;
     box-sizing: border-box;
     border-color: var(--border-colour);
     .active {
          background-color: var(--element-colour);
     }
}

#login-housing{
     flex:1;
     padding-right: 2vh;
     display: flex;
}

#header a{
     background-color: inherit;
     color: var(--text-colour);
     text-decoration: none;
     font-weight: bold;
     margin-bottom:auto;
     margin-top: auto;
     padding:2vh;
}
#header a:hover{
     background-color: var(--hover-colour) ;
}

#toggle-housing{
     flex:1;
     padding: 1vh;
}

input#darkLight {
     display: none;
}

.toggle {
     float: right;
}

.toggle .MuiSwitch-track {
     background-color:var(--text-colour);
}

.toggle .Mui-checked + .MuiSwitch-track {
     background-color:var(--text-colour);
}

input#darkLight:checked + #slider {
	transform: translateX(5vh);
}

