.header {
    text-align: center; 
}
#homepage {
    margin-left:10%; /*width of menu*/
    text-align: center;
    width: 90%;
    padding :0;
    overflow-y: auto;
    color: var(--text-colour);
}

#stuffyOfTheDayWrapper {
    background-color: var(--element-colour);
    padding:0;
    width : 54vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    border:solid;
}

.stuffyOfTheDay {
    height: 100%;
    width: 27vw;
    padding: 1vw;
    box-sizing: border-box;
}

.stuffyOfTheDay h2{
    border-bottom:solid;
    border-width:1px;
}

.stuffyOfTheDayPic {
    display:flex;
    justify-content: center;
    object-fit: contain;
    height: 25vw;
    width: 25vw;
}