.menu{
    width: 10%;
    height: 96vw;
    background-color: inherit;
    color: inherit;
    position: fixed;
    z-index:1;
    top: 0;
    left:0;
    padding : 0;
 }

.menu a{
    display: block;
    background-color: inherit;
    color: var(--text-colour);
    text-decoration: none;
    padding: 1vw;
    font-weight: bold;
    font-family: 'Merriweather', serif;
    font-size: 1vw;

}
.menu a:hover{
    background-color: var(--hover-colour) ;
}
.menu{
    width: 10%;
    height: 100%;
    background-color: var(--header-menu-colour);
    position: fixed;
    left:0;
    top:0;
    z-index: 1;
    padding : 0;
}
#selection{
    margin-top:7vh;
    padding:0;
    overflow-y:auto;
    height:93vh;
    .active {
        background-color: var(--element-colour);
    }
    
}

#searchBar {
    margin:0;
    height:7vh;
    width:100%;
    font-weight: bold;
    position:absolute; /*relative makes it move on high zooms*/
    background-color:var(--main-bg-colour);
    padding:.5vh;
    border:solid; 
    border-width: 0.2vw;
    box-sizing: border-box;/*includes border, padding in width and height*/
    color: var(--text-colour);
    font-size: 1vw; 
}
