body {
     background-color: var(--main-bg-colour);
     margin: 0;
     color: var(--text-colour);
}

#edit {
     display: inline-block;
     background-color: var(--main-bg-colour);
     padding:0;
     color: var(--edit-button);
     border:none;
}

#edit:hover{
     background-color: var(--hover-colour);
}

p {
     font-size: 1.2em;
}

form {
     margin: 10px;
}

input , form button{
     display: block;
     margin: 5px;
     margin-left: 0px;
     width: 30%;
     color: var(--text-colour);
     background-color: var(--main-bg-colour);
     border-color: var(--border-colour);
}


.title {
     border-bottom-color: var(--border-colour);
     border-bottom-width: 1px;
     border-bottom-style: solid;
}

textarea {
     display: block;
     margin: 5px;
     margin-left: 0px;
     width: 70%;
     height: 20%;
     color: var(--text-colour);
     background-color: var(--main-bg-colour);
     border-color: var(--border-colour)
}

.hidden {
     display: none !important;
}

#image-div {
     margin-top: 1%;
}

#info-wrapper {
     display: flex;
     margin-top: 1%;
}

.thumbnail {
     width: 20vw;
     object-fit: contain;
     border-color: var(--element-colour);
     border-style: solid;
     border-width: 20px;
}

#paragraphs {
     margin-left: 1%;
     padding-left: 1%;
     width: 100%;
}

#content-wrapper {
     width: 88%;
     margin-left: 10%;
     padding-left: 1%;
     border-color: rgb(119, 119, 119);
     h2 {
          font-size: 2em;
          margin-bottom: 5px;
          font-family: 'Merriweather', serif;
     }
     
     h1 {
          display: inline-block;
          font-size: 3em;
          margin-bottom: 5px;
          padding-right: 20px;
          font-family: 'Merriweather', serif;
     }
}

#submit , form button{
     width: auto;
}

#form-disclaimer {
     margin-left: 10px;
     font-size: 0.75em;
}


.required:after {
     content:" *";
     color: red;
   }